HOST=0.0.0.0
PORT=1337
APP_KEYS=base64key1,base64key2,base64key3,base64key4
API_TOKEN_SALT=base64key
ADMIN_JWT_SECRET=base64key
TRANSFER_TOKEN_SALT=base64key
JWT_SECRET=base64key
ENCRYPTION_KEY=base64key
